body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.ern{
    color: var(--Dark-01, #181818);
font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.textpraimarycolor{
    color:#FD6E0A;
}
.buttonpraymary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    /*padding: 18 35px;*/
    width: 150px;
    height: 64px;
    
}
nav >ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: #474747;
}
.main{
    background-color:  #FFF8F3;
    background: url(images/header_bg.png);
    background-repeat: no-repeat;

}
.banner{
    padding: 30 30 0px 150px ;
    display: flex;
    align-items: center;
}
.profile{
    width: 500px;
}
