body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.ern{
    color: var(--Dark-01, #181818);
font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.textpraimarycolor{
    color:#FD6E0A;
}
.buttonpraymary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    /*padding: 18 35px;*/
    width: 150px;
    height: 64px;
    
}
nav >ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: #474747;
}
.main{
    background-color:  #FFF8F3;
    background: url(images/header_bg.png);
    background-repeat: no-repeat;

}
.mainsend{
    width: 500px;
}
.banner{
    padding: 30 30 0px 150px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile{
    width: 500px ;
}
.about {
    padding: 131px;
    background-color:#FFF8F3 ;
    border-radius: 10px;
    margin: 130px;
}
.title{
    color: var(--Dark-01, #181818);
text-align: center;
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.discription{
    color: var(--Dark-03, #757575);
text-align: center;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
main{
    width: 1140px;
    margin: 0 auto;
}
.moreinformation{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.tit{
    text-align: center;
}
.section-description{
     padding: 30px 150px;
}
.skill-container{
    display: flex;
}
.skill{
    padding: 30px;
    gap: 24px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.part{
    text-align: center;
}
.resue-tittle{
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.resume{
    display: flex;
    gap: 50px ;
}
.discriptionns{
    color: var(--Dark-03, #757575);
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 28px; /* 175% */
}
.institute{
    color: var(--Dark-03, #c09a9a);
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.ter{
     text-align: center;
     margin-top: 50px;
}
footer{
    display: flex;
    padding: 130px 200px;
    background-color: #FFF8F3 ;
    margin-top: 100px;
    gap: 100px;
}
.footercolum{
    width: 50%;
}
.contact input,textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    border-radius: 5px;
    background: #FFF
    border: 0;
    
    width: 100%;
}
.social-link a{
    margin-right: 24px;
}
.button-paraymary{
    padding: 10px;
}